APP_NAME=AitiCore Flex
APP_ENV=local
APP_DEBUG=true
APP_DEBUG_GMAPS=0
APP_URL=http://127.0.0.1:8000
APP_KEY=

SITE_SHORTCUT_ICON=
SITE_GOOGLE_ADSENSE_ACCOUNT=
SITE_GOOGLE_ADSENSE_PAGE_SLOT=
SITE_GOOGLE_ADSENSE_ARTICLE_SLOT=
SITE_YANDEX_VERIFICATION=
SITE_BING_VERIFICATION=
SITE_GOOGLE_ANALYTICS_ID=
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=aitisoluitons_web
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

CMS_ALLOWED_ROLES=1,2
CMS_REGISTER_DEFAULT_ROLE=2
CMS_REGISTER_ACTIVE_DEFAULT=1

RECAPTCHA_ENABLED=true
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_MIN_SCORE=0.5

SESSION_DRIVER=file
SESSION_COOKIE=aiti_session
SESSION_SAMESITE=Lax
SESSION_SECURE=false

CSRF_ENABLED=true
VIEW_PATH=app/Views
STORAGE_PATH=storage
