.env
/vendor/
/node_modules/
/storage/*
!/storage/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
*.log
/aitisolutions.sql
/.phpunit.cache/
/.idea/
/.vscode/
*.code-workspace
/docs/MIGRASI_LIST_FITUR_FROM_LARAVEL.md
/docs/MIGRATION_FROM_LARAVEL10.md
/docs/template/*
/JOB-TASK.md
/docs/FIX_TEST_SCURITY.md
